<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Pagina Principal</title>
    <!--Obtengo la fuente de google fonts para aplicarsela al CSS-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!--Las 2 lineas de arriba le indica al navegador que haga solo una conexión y decargue todas las fuentes en caso de que haya mas de una-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles-sm.css" media="(min-width: 480px)" />
    <link rel="stylesheet" href="/css/styles-md.css" media="(min-width: 768px)" />
    <link rel="stylesheet" href="/css/styles-lg.css" media="(min-width: 1024px)" />

</head>

<body>

    <header class="ml-yellow-background">
        <!--Logo-->
        <img src="/img/logo-mercado-liebre.svg" alt="">

        <p>Barra de Busquedas a<i class="fas fa-search"></i></p>

        <p class="texto-centrado">
            <i class="fas fa-hand-holding-usd"></i> Compra en cuotas sin tarjeta de credito
        </p>

        <!--Barra de navegacion-->
        <nav id="ml-main-nav">
            <ul>
                <li><a href='#'>Ofertas</a></li>
                <li><a href='#'>Tiendas Oficiales</a></li>
                <li><a href='#'>Vender</a></li>
                <li><a href='#'>Ayuda</a></li>
            </ul>
            <ul>
                <li><a href='#'>Creá tu cuenta <i class="fas fa-id-card"></i></a></li>
                <li><a href='#'>Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href='#'>Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <div>
            <div class="burger-menu ml-lb-bg">
                <i class="fas fa-bars ml-light-text"></i>
            </div>
        </div>
    </header>

    <img class="banner" src="/img/img-home-banner.jpg" alt="En estas fiestas, no te pierdas ninguna oferta">

    <main id="main-content">
        <section>
            <h2 class="texto-titulo">Basados en tu última visita</h2>
            <!--Productos destacados-->
            <article>
                <!--Contenido del producto-->
                <img src="/img/img-cafetera-moulinex.jpg" width='100%' alt="cafetera Moulinex">
                <p class="texto-precio">$6.770</p>
                <p class="texto-descuento">40% off</p>
                <p class="texto-descripcion">Cafetera Moulinex</p>
            </article>
            <article>
                <!--Contenido del producto-->
                <img src="/img/img-macbook-pro-2019.jpg" width='100%' alt="Laptop MacbookPro">
                <p class="texto-precio">$230.000</p>
                <p class="texto-descuento">20% off</p>
                <p class="texto-descripcion"> Macbook Pro 2019</p>
            </article>
            <article>
                <!--Contenido del producto-->
                <img src="/img/img-samsung-galaxy-s10.jpg" width='100%' alt="celular Samsung Galaxy S10">
                <p class="texto-precio">$70.500</p>
                <p class="texto-descuento">10% off</p>
                <p class="texto-descripcion">Samsung Galaxy S10</p>
            </article>
            <article>
                <!--Contenido del producto-->
                <img src="/img/img-tv-samsung-smart.jpg" width='100%' alt="Tv Samsung Smart">
                <p class="texto-precio">$23.200</p>
                <p class="texto-descuento">5% off</p>
                <p class="texto-descripcion">SmartTv Samsung 43"</p>
            </article>
        </section>
    </main>


    <footer>
        <section>
            <p class="icono-footer">
                <i class="fas fa-credit-card"></i>
            </p>
            <p class="titulo-footer">Pagá con tarjeta o en efectivo</p>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <p class="icono-footer">
                <i class="fas fa-gift"></i>
            </p>
            <p class="titulo-footer">Envío gratis desde $ 2.500</p>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <p class="icono-footer">
                <i class="fas fa-user-shield"></i>
            </p>
            <p class="titulo-footer">Seguridad, de principio a fin</p>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegido.</p>
        </section>
        <section>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>

</html>